#banner-content {
    background: url("/assets/images/wrestlers-wrestling-men-03-in-watercolor-pablo-romero.jpg") no-repeat center top;
}

#header-div{
    height: 600px;
}

#front-page-img {
    height: 500px;
}