.rcorners2 {
    border-radius: 10px;
    border: 2px solid #d2b356;
    background-color: white;
  }

#img-dropdown {
  padding: 0;
  margin: 0;
}

.circular--square {
  border-radius: 50%;
  height: 50px;
  vertical-align: middle;
}

#user-img{
  margin-right: 0px;
}
