.video-surround {
    padding: 2%;
    border-radius: 25px;
    border: 2px solid #d2b356;
}

.message-surround {
    height: 150px;
}

.video-message {
    text-align: center;
    font-size: xx-large;
}

.video-action-button {
    color: white;
}