            <!--Introduction-->
            <section id="about" class="introduction">
    
                <div class="row clearfix">
    
                    <div class="col-3">
                        <div class="section-heading">
                            <h3>{{intro.tagline}}</h3>
                            <h2 class="section-title">{{intro.title}}</h2>
                            <p class="section-subtitle">{{intro.description}}</p>
                        </div>
    
                    </div>
    
                    <div class="col-2-3">
    
                        <!--Icon Blocks-->
                        <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s" *ngFor="let block of intro.blocks">
                            <!--Icon-->
                            <div class="icon">
                                <!-- <i class="fa fa-{{block.icon}} fa-2x"></i> -->
                                <img class="logo-icon" src="assets/images/logo-icon.png"/>
                            </div>
                            <!--Icon Block Description-->
                            <div class="icon-block-description">
                                <h4>{{block.title}}</h4>
                                <p>{{block.description}}</p>
                            </div>
                        </div>
                        <!--End of Icon Blocks-->
    
                    </div>
    
                </div>
    
    
            </section>
            <!--End of Introduction-->