.dropzone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 200;
    height: 300px;
    border: 2px dashed #d2b356;
    border-radius: 5px;
    background: white;
    margin: 10px 0;

    &.hovering {
        border: 2px solid #d2b356;
        color: #dadada !important;
    }

    .file-label {
        font-size: 1.2em;
    }
}

.video {
    width: 200px;
}

.hide {
    display: none;
}

canvas {
    position: absolute;
    width: 200px;
}

.file-input{
    width: 90%;
}