.action_button {
    border-radius: 10px;
    border: 2px solid #d2b356;
    margin-top: 10px;
    display:block;
}

#total_reviews_div {
    padding-bottom: 30px;
}

mat-checkbox {
    display: block;
}

.left {
    margin-left: 25px;
}

mat-checkbox {
    margin-left: 35px;
}