<h1 mat-dialog-title>Forgot your password? Happens to us all the time... Let's get you setup with a new one!</h1>
<form #ResetPasswordForm="ngForm">
    <div mat-dialog-content>
        <mat-form-field class="full-width">
            <mat-label>Enter your Email:</mat-label>
            <input matInput
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
                required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="!ResetPasswordForm.form.valid">
            A valid Email is required in order to reset your password
            </mat-error>
        </mat-form-field>
    </div>
</form>
<mat-dialog-actions align="end">
    <button mat-raised-button pull-right mat-dialog-close matTooltip="Cancel" mat-button>
        Cancel   
    </button>
    <button mat-raised-button (click)="onSubmit(ResetPasswordForm)" [disabled]="!ResetPasswordForm.form.valid" >
        Send me a reset password email
    </button>
</mat-dialog-actions>