<div id="header" class="nav-collapse nav-solid">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <mat-spinner [ngClass]="{'hidden': !isLoading}"></mat-spinner>                              
                <img src="assets/images/logo-2-min.png" (click)="navigateTo('/home')" id="navigation-logo" alt="Landing Page"  [ngClass]="{'hidden': isLoading}" (load)="this.isLoading = false;"/>
                <!--End of Navigation Logo-->
            </div>
            <!--End of Logo-->

            <aside>
                <app-account-header></app-account-header>
                <app-social id="header-social"></app-social>
            </aside>

            <!--Main Navigation-->
            <nav id="nav-main">
                <ul>
                    <li>
                        <a routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li>
                        <a routerLink="/coaches" routerLinkActive="active">Coaches</a>
                    </li>
                    <li>
                        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
                    </li>
                    <li>
                        <a routerLink="/howItWorks" routerLinkActive="active">How it Works</a>
                    </li>
                </ul>

            </nav>
            <!--End of Main Navigation-->

            <button id="nav-trigger" mat-button [matMenuTriggerFor]="nav">
            </button>
            <mat-menu #nav="matMenu">
                    <button (click)="navigateTo('/home')" mat-menu-item>Home</button>
                    <button (click)="navigateTo('/coaches')" mat-menu-item>Coaches</button>
                    <button (click)="navigateTo('/testimonials')" mat-menu-item>Testimonials</button>
                    <button (click)="navigateTo('/howItWorks')" mat-menu-item>How it Works</button>
                    <button (click)="navigateTo('/platform')" mat-menu-item>View Your Account</button>

                <!-- <ul>
                    <li mat-menu-item>
                        <a routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li mat-menu-item>
                        <a routerLink="/coaches" routerLinkActive="active">Coaches</a>
                    </li>
                    <li mat-menu-item>
                        <a routerLink="/testimonials" routerLinkActive="active">Testimonials</a>
                    </li>
                    <li mat-menu-item>
                        <a routerLink="/howItWorks" routerLinkActive="active">How it Works</a>
                    </li>
                    <li mat-menu-item>
                        <a routerLink="/platform" routerLinkActive="active">View Your Account</a>
                    </li>

                </ul> -->
            </mat-menu>
        </div>
    </div>
</div><!--End of Header-->